/* text color: #e1e1e1; */
/* mew color: #8ec6d1; */

.darkMode{
    background-color: #282828;
}

.darkMode body{
  background-color:#282828;
}

.darkMode .tylerJayContainer{
    width: 100%;
    height: 100vh;
    background-color: #282828;
    display: flex;
    align-items: center;
    justify-content: center;
}

.darkMode .tylerJayContainer h1{
    font-size: 60px;
    font-weight: 500;
    color: #e1e1e1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 0px;
}

.darkMode .tylerJayContainer .aboutMe{
    color:#e1e1e1;
}

.darkMode span{
    color: #8ec6d1;
    margin: 0 0 0 15px;
}

.darkMode span:last-child{
    margin-left: 0px;
}

.darkMode .mewLoaderWrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #282828;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    transition: opacity 0.5s ease-in-out;
    opacity: 100;
}

.darkMode .mewLoaderWrapper img{
    content: url("images/shinyMew.gif");
    transform: scale(.7);
}

.darkMode .link a {
    position: relative;
    text-decoration: none;
    padding-bottom: 0.75rem;
    color: #e1e1e1;;
    font-size: 25px;
}

.darkMode .link a::after{
    content: "";
    position: absolute;
    height: 2px;
    width: 0;
    bottom: 0;
    left: 0;
    background-color: #8ec6d1;
    transition: all .3s ease;
}

.darkMode .link a:hover::after{
    width: 100%;
}

.darkMode .changeModeButton {
  width: 30px; /* Adjust width and height to fit your SVG */
  height: 40px;
  background-color: transparent; /* Remove default button background */
  position: relative;
  content: url("images/sun.svg");
}

.darkMode button {
  background-color: transparent;
  border: none;
  position: absolute;
  top: 4%;
  left: 3%;
}

.darkMode #load {
    width:600px;
    height:36px;
    left:50%;
    top:40%;
    margin-left:-300px;
    overflow:visible;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
  }
  
.darkMode #load div {
    position:absolute;
    width:20px;
    height:36px;
    opacity:0;
    font-family:Helvetica, Arial, sans-serif;
    animation:move 3s linear infinite;
    -o-animation:move 3s linear infinite;
    -moz-animation:move 3s linear infinite;
    -webkit-animation:move 3s linear infinite;
    transform:rotate(180deg);
    -o-transform:rotate(180deg);
    -moz-transform:rotate(180deg);
    -webkit-transform:rotate(180deg);
    color:#8ec6d1;
  }
  
.darkMode #load div:nth-child(2) {
    animation-delay:0.2s;
    -o-animation-delay:0.2s;
    -moz-animation-delay:0.2s;
    -webkit-animation-delay:0.2s;
  }

.darkMode #load div:nth-child(3) {
    animation-delay:0.4s;
    -o-animation-delay:0.4s;
    -webkit-animation-delay:0.4s;
    -webkit-animation-delay:0.4s;
  }

.darkMode #load div:nth-child(4) {
    animation-delay:0.6s;
    -o-animation-delay:0.6s;
    -moz-animation-delay:0.6s;
    -webkit-animation-delay:0.6s;
  }

.darkMode #load div:nth-child(5) {
    animation-delay:0.8s;
    -o-animation-delay:0.8s;
    -moz-animation-delay:0.8s;
    -webkit-animation-delay:0.8s;
  }

.darkMode #load div:nth-child(6) {
    animation-delay:1s;
    -o-animation-delay:1s;
    -moz-animation-delay:1s;
    -webkit-animation-delay:1s;
  }

.darkMode #load div:nth-child(7) {
    animation-delay:1.2s;
    -o-animation-delay:1.2s;
    -moz-animation-delay:1.2s;
    -webkit-animation-delay:1.2s;
  }

  .darkMode .aboutMe span{
    margin: 0 5px;
  }

  @media screen and (max-width:450px) {
    /* background color: #FFF7F1; */
    /* Mew Text color: #C19BA6; */
    /* Text color: #545454; */



    .darkMode #mobileContainer {
        margin: 0;
        padding: 0;
        height: 90%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background-color: #282828;
    }

    .darkMode .tylerJayContainer {
        display: none;
    }

    .darkMode .changeModeButton {
      width: 20px; /* Adjust width and height to fit your SVG */
      height: 40px;
      background-color: transparent; /* Remove default button background */
      position: relative;
      content: url("images/sun.svg");
  }
  
  .darkMode button {
      background-color: transparent;
      border: none;
      position: absolute;
      top: 3%;
      left: 4%;
  }
    
    .darkMode #mobileContainer .topPart h1{
        margin: 0;
        padding: 0;
        color: #e1e1e1;
    }
    .darkMode #mobileContainer .bottomPart h1{
        color: #C19BA6;
        margin-top: 2px;
        padding: 2px;
        position: relative;
        font-size: 2em;
    }


    .darkMode .mobileNav {
        padding: 10px 20px;
        width: 80px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        position: absolute;
        right: 2%;
        top: 3%;
      }
      
      .darkMode .icon {
        color: #8ec6d1;
        font-size: 24px;
        cursor: pointer;
        display: block;
        z-index: 3;
        margin-bottom: 30px;
      }

      .darkMode .icon.active{
        color: #8ec6d1;
      }
      
      .darkMode .menu {
        display: none;
        list-style-type: none;
        padding: 0;
        margin: 0;
        flex-direction: column;
        position: absolute;
        /* background-color: #333;  use this color soon*/
        top: 10%;
        padding: 10px;
        padding-top:10px;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
        background-color: #333;
      }
      
      .darkMode .menu li a {
        color: #e1e1e1;
        text-decoration: none;
        display: flex;
        justify-content: center;
        margin: 20px;
        padding-top: 10px;
        opacity: 1;
        position: relative;
        top: 15px;
      }

      .darkMode .menu.active {
        display: flex;
      }

      .darkMode .mewLoaderWrapper img{
        transform: scale(.5);
    }
}