table, th, td { 
    border: 2px solid grey; 
    text-align: center;
    font-size: 14px;
    font-family: 'Lucida Sans';
 } 
 
 table{
     table-layout: fixed;
     width: 60%;
 
     th, td {
         width: 20%;
         word-wrap: break-word;        
     }
 }
 
 body {
     font-family: 'Georgia';
 }
 
 html{
     background-color: aliceblue;
 }
 
 ol, ul{
 text-indent: 4px;
 list-style-position: inside;
 }
